/*
body {
    width: 1920px;
    height: 1080px;
    background-image: url("/assets/sky.png");
    background-size: 100vw 100vh; stretches image 
}
*/

body {
    position: absolute;
    margin: 0;
}
#score, #timer, #lives {
    position: fixed;
    left: 10px;
    font: 200% Consolas;
}
#score {
    top: 10px;
}
#timer {
    top: 60px;
}
#lives {
    top: 110px;
}